#formulario{
    width: 50% ;
    height: 20% ;
    margin: 0 auto;
    border: 10px solid black;
    text-align: center;
}

#resultado{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.cuadro{
    margin: 15px;
}

.boton{
    height: 30px;
    width: 50px;
    background-color: rgb(202, 224, 149);
}

